{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div data-rol="page">
        <div data-role="collapsible">
            <h6 class="subtitle">Platillos principales</h6>
            {% if productos %}
                <ul data-role="listview" data-inset="false">
                {% for item in productos %}
                    <li>
                        <a href="/producto/{{ item.id }}">
                            <img src="{% static "img/test.png" %}" alt="Test image"/>
                            <h2>{{ item.nombre }}</h2>
                            <p>Ver más ...</p>
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                No se encontraron productos
            {% endif %}
        </div>
    </div>
{% endblock %}